  body{
    background-color: lightblue;
  }
  h1{
    color: "9569ff";
  }
  img{
    width:45vw;
    height:auto;
  }
  p{
    color:green;
  }
  .list-item{
    display: inline-block;
  }
  #nav-list{
    list-style-type: none;
  }
  nav{
    width: 100vw;
    background-color: #07c4dd;
  }
  iframe{
    width:100%;
    height:50vh;
  }
  footer{
    
  }
