html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
<script src="https://use.fontawesome.com/b9f1b100da.js"></script>

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
  body{
    background-color: lightgray ;
    font-family: verdana, sans-serif;
  }

  h1{
    color: "9569ff";
    text-align: center;
    font-weight: bolder;
    margin: 20px;
  }
  h2{
    color:black;
    text-align: center;
    font-family: verdana;
    margin: 5px 2px 2px 2px;
  }
  img{
    width:45vw;
    height:auto;
  }
  p{
    color:darkgreen;
    padding: 2px 4px;
    margin: 4px;
  }
  nav{
    width: 100vw;
    background-color: black;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  iframe{
    width:100%;
    height:50vh;
  }
  footer{
  }
  .content{
    font-family: verdana, sans-serif;
    position: absolute;
    width: 600px;
  }
	.container{
		position: relative;
		max-width: 960px;
		margin: 0 auto;
	}
  .big{
    font-size: 200%;
    text-align: center;
    margin: 24px;
  }
  .blog-heading{
    font-size: 100%;
    font-family: verdana;
    font-style: italic;
    margin: 10px 4px;
	}

  .post {
    width: 75vw;
		height:auto;
  }

	.what-about{
		padding: 20px;
	}

	.check-out{
		padding: 40px;
	}

  #list-item{
    display: inline-block;
    text-align: center;
    font-family: verdana;
  }

  #nav-list{
    display: inline-flex;
    text-align: center;
    list-style-type: none;
    font-family: verdana;
    position: fixed;
		top: 0;
		left: 0;
		height: auto;
		width: 100vw;
    color: white;
    }
	#nav-list>ul.container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
	}
  #nav-list li{
		display: inline;
		list-style-type: none;
		}
	#content2{
		float: left;
		width: 75%;
	}
	#sidebar{
		float: left;
		width: 25%;
	}

	#sidebar > li:hover{
		cursor: crosshair;
		font-family: monospace; sans-serif;
		font-weight: bolder;
		font-style:italic;
		font-size: 100px;
	}
